
	.test{
		display: flex;
		border: solid black 7px ;
		background-image: url(c2v.jpg);
		justify-content:space-around;
		padding: 5%;
		width: 50%;
		margin-left:15%;
		border-radius: 15px;
	}

	h1{
	color:white;
		
	}
	h2{
		color:white;
	display: flex;
	justify-content: center;
	}

	.verso{
		display: flex;
		justify-content:space-around;
		border: solid black 7px;
		padding: 5%;
		width: 50%;
		margin-left:15%;
		border-radius: 15px;
		background-image: url(noirmat.jpg);
background-size: cover;
	}
	span{
		color:white;
	display: flex;
	justify-content: center;	
	}
	h4,h5{
		color:white;
				
	}
